@import "tailwindcss";

html {
  direction: rtl;
  font-family: "Vazirmatn", system-ui, sans-serif;
  background-color: #17183e;
  color: #ffffff;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazirmatn";
  src: url("/fonts/Vazirmatn-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-blue: var(--blue);
  --color-blue2: var(--blue2);
  --color-yellow: var(--yellow);
  --color-gold: var(--gold);
  --color-red: var(--red);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --font-vazir: "Vazirmatn", system-ui, sans-serif;
}

:root {
  --primary: #17183e;
  --primary-foreground: white;
  --secondary: #50378b;
  --secondary-foreground: white;
  --blue: #1eddfc;
  --blue2: #1edefc5e;
  --yellow: #e3ff00;
  --gold: #f3bf23;
  --red: #f92251;
  --green: #27ca71;
  --orange: #f16e10;
  --card: #272450;
  --card-foreground: #ffffff;
}
